@import url("reset.css");

body {
  background-color: light-grey;
  font-family: Helvetica, sans-serif;
  height: 100vh;
  width: 100vw;
}

h1 {
  font-size: 60px;
}

.game-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 300px;
  gap: 5px;
}


.tile {
  height: 175px;
  width: 175px;
  background-color: #C0C0C0;
  border-radius: 4px;
  transition: 0.3s;
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
  text-align: center;
  font-weight: bolder;
  font-size: 900%;
  user-select: none;
  
  color: black;
  
}


.tile:hover {
  background-color: #969696;
}

.p1marker {
  text-shadow: 10px 10px 0px #FF00FF; 
}

.p2marker {
  text-shadow: 10px 10px 0px #00FF00; 
}

.announce-display {
  font-size: 40px; 
}

button {
  font-size: 40px;
}