@import url("reset.css");

body {
  background-color: light-grey;
  font-family: Helvetica, sans-serif;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: #5a9dd1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

h1 {
  font-size: 70px;
  white-space: nowrap;
  text-align: center;
  /* margin: 15px; */
  color: #F9F9F9;
  text-shadow: 4px 4px 0px #0C78FF;
}

.game-wrapper {
  display: flex;
  justify-content: center;

}

.game-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 5px;
}


.tile {
  height: 175px;
  width: 175px;
  background-color: #edf7ff;
  border-radius: 4px;
  transition: 0.3s;
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
  text-align: center;
  font-weight: bolder;
  font-size: 900%;
  user-select: none;
  
  color: black;
}


.tile:hover {
  background-color: #a3b8d9;
}

.Xmarker {
  color: black;
  text-shadow: 10px 10px 0px #0C78FF; 
}

.Omarker {
  color: black;
  text-shadow: 10px 10px 0px #FF7400;
}

.footer {
  font-size: 30px;
  white-space: nowrap;
  text-align: center;
  color: #F9F9F9;
  text-shadow: 4px 4px 0px #0C78FF;
  font-weight: bolder;
}

.announce-display {
  font-weight: bolder;
  font-size: 40px;
  white-space: nowrap;
  text-align: center;
  /* margin-top: 10px;
  margin-bottom: 40px; */
  color: #F9F9F9;
  text-shadow: 3px 3px 0px #0C78FF;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
}

button {
  font-size: 30px;
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  background-color: #FF93C2;
  border-radius: 4px;
  padding: 20px 40px;
  font-weight: 700;
  color: white;
  line-height: 26px;
}

button:active {
  background-color: #FF70B0;
}


@media (max-width: 600px) {
  .tile {
    height: 142px;
    width: 142px;
    font-size: 675%;
  }

  .tile:hover {
    background-color: #edf7ff;
  }

  .tile:active {
    background-color: #a3b8d9;
  }

}